* {
  margin: 0;
  padding: 0;
}
body {
  background: #2d2d2d;
  font-family: "Russo One";
}
section {
  padding: 0px calc(5.5vw - 11px);
  margin-bottom: 90px;
}
.modal {
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); 
  z-index: 1050;
  opacity: 0; 
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; 
  pointer-events: none; 
  margin: 0;
  padding: 0;
}
.modal:target {
  opacity: 1; 
  pointer-events: auto;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 460px;
    margin: 30px auto;
}
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  outline: 0;
  border-radius: 33px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;

  stroke-width: 2px;
  stroke: #2194FF;
}
.close:focus, .close:hover {
  stroke-width: 2px;
  stroke: #2194FF;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px 30px;
  overflow: auto;
}
.blue_small{
  color: #2194FF;
  font-family: Russo One;
  font-size: calc(0.7vw + 15.5px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: start;
}






h3 {
  color: #f1f1f1;
  font-size: calc(1.3vw + 19px);
  font-weight: 400;
}
p {
  color: #f1f1f1;
  font-family: "Open Sans";
  font-size: calc(0.2vw + 13.2px);
  font-weight: 300;
  margin-top: 21px;
}
section.hello {
  background-image: url(../img/1stscreen\ 1.svg);
  background-repeat: no-repeat;
  background-position-x: calc(22vw + 317px);
  background-position-y: bottom;
  background-size: calc(22vw + 617px);
}
body span {
  font-size: calc(0.2vw + 13.2px);
  color: #f1f1f1;
}
#second_page{
  padding: 0 10px;
}
#logo_main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: calc(11vw + 18.5px);
}
.Logo_container2 img{
  width: calc(5.5vw + 129px);
  margin-top: 24px;
  display: block;
  margin-right: 100px;
  margin-left: 20px;
}
.emergency_question_secondpage {
  display: block; 
  margin-top: 24px;
}
.emergency_question_secondpage span{
  display: block;
  color: #f1f1f1;
  font-size: calc(0.4vw + 14.4px);
  font-weight: 400;
}
.emergency_question_secondpage a{
  color: #2194ff;
  font-family: "Open Sans";
  font-size: calc(0.6vw + 8px);
  font-weight: 700;
  text-decoration-line: underline;
}
.thx_container{
  text-align: center;
}
.second_page{
  color: #2194FF;
  text-align: center;
  font-family: 'Russo One';
  font-size: calc(2.2vw + 19.7px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 26px;
  display: block;
}
.thx_container b{
  color: #F1F1F1;
  text-align: center;
  font-family: 'Russo One';
  font-size: calc(1.1vw + 9.8px);
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;  
  display: block;
  margin-bottom: 51px;
}
.thx_container img{
  width: 200px;
}



.Logo_container {
  position: relative;
}
.Logo_container div {
  display: inline;
  position: absolute;
  top: 50px;
  color: #2194ff;
  font-family: "Open Sans";
  font-size: calc(0.2vw + 13.2px);
  font-style: italic;
  font-weight: 300;
  line-height: 18px;
  border-left: 1px solid #fff;
  padding-left: 24px;
}
.Logo {
  width: calc(5.5vw + 129px);
  margin-top: 18px;
  margin-bottom: 33px;
  margin-right: 24px;
}
section .emergency_question {
  position: absolute;
  top: 24px;
  right: 80px;
}
.emergency_question span {
  display: block;
  color: #f1f1f1;
  font-size: calc(0.4vw + 14.4px);
  font-weight: 400;
}
.emergency_question a {
  color: #2194ff;
  font-family: "Open Sans";
  font-size: calc(0.6vw + 8px);
  font-weight: 700;
  text-decoration-line: underline;
}
.weather_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.weather_container img {
  margin-right: 6px;
}
.weather_container img:first-child {
  width: calc(0.2vw + 13.2px);
}
.weather_container img:nth-child(2) {
  width: calc(0.2vw + 13.2px);
}
.weather_container img:nth-child(3) {
  width: calc(0.2vw + 15.2px);
}
.weather_container span {
  color: #f1f1f1;
  font-family: "Open Sans";
  font-size: calc(0.2vw + 13.2px);
  font-weight: 300;
  display: block;
  width: 295px;
}
h1 {
  color: #2194ff;
  font-size: calc(3.1vw + 24.4px);
  font-style: normal;
  font-weight: 400;
  line-height: calc(3.1vw + 24.4px);
  margin-bottom: 14px;
}
.delivery_info {
  color: #f1f1f1;
  font-size: calc(0.7vw + 15.5px);
  font-weight: 300;
  position: relative;
  width: 350px;
  margin-bottom: 40px;
}
.delivery_info b {
  display: block;
}
.delivery_info img {
  position: absolute;
  top: 0px;
  right: calc(-5.5vw + 20.7px);
  width: calc(1.1vw + 86px);
}
.btnimg img {
  width: calc(5.5vw + 280px);
  display: block;
  margin-bottom: 13px;
}
.btn span {
  font-weight: 100;
}

section.grey {
  background-color: #2d3238;
  background-image: url(../img/proportions\ 1.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: center;
  background-position-y: bottom;
}
section.grey h2 {
  color: #2194ff;
  text-align: center;
  font-size: calc(1.3vw + 19px);
  font-weight: 400;
  padding-top: 46px;
}
.fuelInfo_Grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "A B B C";
}
.fuelInfo_container {
  width: 250px;
  margin-top: 76px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.fuelInfo_container h3 {
  color: #f1f1f1;
  font-size: calc(1.3vw + 19px);
  font-weight: 400;
}
.fuelInfo_container span {
  color: #2194ff;
  font-size: calc(0.7vw + 15.5px);
  font-weight: 400;
}
.fuelInfo_container p {
  color: #f1f1f1;
  font-family: "Open Sans";
  font-size: calc(0.2vw + 13.2px);
  font-weight: 300;
  margin-top: 21px;
}
.btn {
  border-radius: 50px;
  background: #2194ff;
  width: 150px;
  height: calc(0.8vw + 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 106px;
}
.fuelInfo_container a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: "Open Sans";
  font-size: calc(0.2vw + 15.2px);
  font-weight: 700;
}
.fuelInfo_container.first {
  grid-area: A;
}
.center {
  margin-left: 150px;
  margin-right: 70px;
}
.fuelInfo_container.center {
  grid-area: B;
}
.fuelInfo_container.second {
  grid-area: C;
}
.fuelInfo_container.center {
  margin-top: 49px;
}
.fuelInfo_container.center h4 {
  color: #f1f1f1;
  font-size: calc(0.4vw + 14.4px);
  font-weight: 400;
  max-width: 300px;
  opacity: 0.7;
  margin-bottom: 13px;
  display: block;
}
.fuelInfo_flexcontainer {
  display: flex;
  flex-direction: row;
}
.fuelInfo_block {
  color: rgba(241, 241, 241, 0.7);
  font-weight: 400;
  display: block;
}
.title {
  font-size: calc(1.3vw + 19px);
}
.value {
  font-size: calc(0.2vw + 15.2px);
}
.fuelInfo_block:first-child {
  padding-right: 25px;
}
.fuelInfo_block:nth-child(2) {
  padding-left: 25px;
  border-left: 1px solid rgba(241, 241, 241, 0.3);
}
section.padding_left {
  padding: 0px calc(5.5vw - 11px);;
}
.section.black{
  padding-left: calc(12.1vw + 35.5px);
}
.flexGallery_container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.flexGallery_container h3 {
  margin-bottom: 25px;
}
.flexGallery_container .flexGallery_block {
  width: 280px;
  margin: 25px 50px 15px 0;
}
.flexGallery_block span {
  color: #2194ff;
  font-size: calc(0.7vw + 15.5px);
  font-weight: 400;
  display: block;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.footer img {
  width: 600px;
}
.footer_text {
  color: #f1f1f1;
  font-family: Russo One;
  font-size: calc(0.8vw + 25px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 400px;
}
.footer_text span {
  color: #2194ff;
  font-family: Russo One;
  font-size: calc(0.8vw + 25px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_text.background {
  color: #f1f1f1;
  font-family: Open Sans;
  font-size: calc(0.5vw + 7px);
  font-weight: 800;
  background: #2194ff;
  margin-top: 20px;
  padding: 7px 13px 9px 12px;
}

.v_title {
  color: #2194ff;
  text-align: center;
  margin-bottom: 35px;
}
.btn_flex_container .btn_container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 0;
}
.btn_container .btn {
  color: #f1f1f1;
  text-align: center;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  font-family: Russo One;
  font-size: calc(0.2vw + 13.2px);
  font-weight: 400;
  margin-bottom: 45px;
}
.btn.b {
  width: 160px;
  height: 60px;
  border-radius: 20px;
}
.btn.b:nth-child(1n + 2) {
  opacity: 0.7;
  background: rgba(241, 241, 241, 0.2);
}
.choose_fuel {
  text-align: center;
}
.btn_png {
  text-align: center;
  margin-bottom: 0;
}
.btn_png img {
  width: 330px;
}

h3 {
  text-align: center;
}
.feedback_container_third {
  width: 750px;
  height: 250px;
  background: #f1f1f1;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 16px;
}
.feedback_container_third img {
  width: 210px;
  height: 230px;
  border-radius: 20%;
  display: inline;
  margin-right: 10px;
  margin-right: 20px;
}
.title_feedback {
  display: flex;
  flex-direction: column;
}
.title_feedback p {
  width: 400px;
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: calc(0.2vw + 13.2px);
  font-weight: 300;
}
.feedback_container_second {
  width: 810px;
  height: 270px;
  background: #f1f1f1;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}
.feedback_container_first {
  width: 835px;
  height: 240px;
  background: #f1f1f1;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.title_feedback h3 {
  color: #2194ff;
  font-size: calc(0.7vw + 15.5px);
  text-align: start;
  margin-bottom: 4px;
}
.title_feedback h4 {
  color: #2d2d2d;
  font-family: Russo One;
  font-size: calc(0.2vw + 15.2px);
  font-weight: 400;
  margin-bottom: 0px;
}
.feedback_container_main {
  margin-top: 47px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.color_btn_container {
  display: flex;
  justify-content: space-around;
  margin: 0 30%;
}
.color_btn {
  width: 61px;
  height: 18px;
  border-radius: 20px;
  background: #2194ff;
  margin-top: 24px;
}
.color_btn.grey{
  background: rgba(241, 241, 241, 0.20);
}
.black{
  background-color: #2d3238;
}
.question_container{
  max-width: 550px;
  padding: 27px;
}
.question{
  color: #F1F1F1;
  font-family: Open Sans;
  font-size: calc(0.2vw + 13.2px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.question:nth-child(3){
  color: #2194ff;
  border-bottom: none;
}
.black h3{
  color: #2194ff;
  padding-top: 37px;
}
.question_container p{
  padding-bottom: 24px;
}
.question:last-child{
  margin-bottom: 40px;
}





.question_flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
.question_form{
  width: 500px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
input{
  padding: 5px 10px;
}
.name{
  width: 252px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: block;
  margin-top: 50px;
  margin-bottom: 24px;
}
.name::placeholder{
  color: rgba(45, 45, 45, 0.50);
  font-family: Open Sans;
  font-size: calc(0.3vw + 5.7px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.tel{
  width: 252px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: block;
  margin-bottom: 24px;
}
.tel::placeholder{
  color: rgba(45, 45, 45, 0.50);
  font-family: Open Sans;
  font-size: calc(0.3vw + 5.7px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
textarea{
  width: 252px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: block;
  padding: 5px 10px; 
  margin-bottom: 24px;
}
textarea::placeholder{
  color: rgba(45, 45, 45, 0.50);
  font-family: Open Sans;
  font-size: calc(0.3vw + 5.7px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.submit{
  border-radius: 50px;
  background: #2194FF;
  width: 150px;
  height: 40px;
  border: 1px solid #2194FF;
  color: #F1F1F1;
  text-align: center;
  font-family: Open Sans;
  font-size: calc(0.2vw + 13.2px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.question_img{
  width: 366px;
  position: relative;
}
.question_img img{
  width: 366px;
  height: 454px;
}
.img_textContainer{
  width: 170px;
  padding: 13px 9px;
  border-radius: 20px;
  opacity: 0.8;
  background: #2194FF;
  position: absolute;
  bottom: 80px;
  left: -30px;
}
.img_textContainer h4{
  color: #F1F1F1;
  font-family: Russo One;
  font-size: calc(0.7vw + 15.5px);
  font-weight: 400;
}
.img_textContainer span{
  color: #F1F1F1;
  font-family: Open Sans;
  font-size: calc(0.2vw + 13.2px);
  font-weight: 600;
}






.fuel_galleryContainer{
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fuel_galleryBlock{
  width: 110px; 
  height: 35px;
  border-radius: 20px;
  background: #F1F1F1;
  padding: 5px 10px;
  margin-bottom: 30px;
}
.blue{
  color: #2194ff;
  text-align: center;
}









.blue.location{
  color: #2194ff;
  margin-top: 50px;
  padding-top: 40px;
  text-align: start;
}
.location_container{
  border-radius: 33px;
  background: #F1F1F1;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 20px 20px 50px;
  width: auto;
  height: max-content;
  position: relative;
  max-width: 1100px;
}
.location_text{
  width: 300px;
}
.consult{
  color: #1B2639;
  font-family: Open Sans;
  font-size: calc(0.2vw + 15.2px);
  font-weight: 400;
  letter-spacing: 0.9px;
  width: 440px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(27, 38, 57, 0.20);
  margin-bottom: 31px;
}
.location_infoContainer{
  margin-bottom: 40px;
}
.location_title{
  color: #2194FF;
  font-family: Open Sans;
  font-size: calc(0.2vw + 15.2px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.location_value{
  color: #1B2639;
  font-family: Open Sans;
  font-size: calc(0.2vw + 15.2px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.location_container .location_img img{
  position: absolute;
  right: 0;
  top: 0px;
  height: 100%;
}
.location_container .location_img .marker{
  position: absolute;
  width: 60px;
  right: 23%;
  top: -10%;
}
.small{
  color: #F1F1F1;
  font-family: Open Sans;
  font-size: calc(0.5vw + 7px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.small_container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}



@media (max-width: 930px) {
  section.hello {
    background-image: url();
  }
  .fuelInfo_Grid_container{
    grid-template-areas: "A"
                         "B"
                         "B"
                         "C";
  }
  .center {
    margin-left: 0;
    margin-top: 0;
  }
  section.grey {
    background-image: url();
  }
  .footer img{
    display: none;
  }
  .choose_fuel img{
    display: none;
  }
}